<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FMDA</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/fmdalogo.png">
  <link href="../../new_assets/css/style.css" rel="stylesheet">
  <link href="../../new_assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="../../new_assets/css/mycss.css" rel="stylesheet">
  <script src="../../new_assets/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="v-light vertical-nav fix-header fix-sidebar">
  <div id="preloader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" /></svg>
    </div>
  </div>
  <div id="main-wrapper">
    <!-- header -->
    <%- include('../includes/sub-sections/dashboard-header.ejs')%>
    <!-- #/ header -->

    <!-- sidebar -->
    <%- include('../includes/sub-sections/dashboard-sidebar.ejs', {})%>
    <!-- #/ sidebar -->
    <!-- content body -->
    <div class="content-body">

        <section id="material-datatables">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h4 class="card-title">Corporate Member details %></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                
                                <!-- Table Content: Start -->
                                <%- include('cp_partials/cp_details', { action: 'approve' }) %>
                                <!-- Table Content: End -->

                                <%= //JSON.stringify(corporate)%>

                                <!-- Form Start -->
                                <form class="form form-horizontal row-separator" action="/admin/corporate_member/verify_member/<%=corporate.contactOfficialEmail%>/fola057@gmail.com" method="POST">
                                    <div class="form-body">
                                        <h4 class="form-section">Verifier Comment</h4>
                                        <!-- Verifier comment -->
                                        <div class="form-group row mx-auto last">
                                            <label class="col-md-3 label-control" for="verifierComment">Verifier Comment</label>
                                            <div class="col-md-9">
                                                <textarea id="verifierComment" rows="5" class="form-control" name="verifierComment" placeholder="Verifier Comment"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit button  -->
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-danger" name='verificationStatus' value='Reject'> Reject Letter</button>
                                        <button type="submit" class="btn btn-darken-2 btn-success" name='verificationStatus' value='verify'> Accept Letter</button>
                                    </div>

                                </form>
                                <!-- Form end  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    </div>
    <!-- #/ content body -->
    <!-- footer -->
    <%- include('../includes/sub-sections/dashboard-footer.ejs', {})%>   
    <!-- #/ footer -->
  </div>
  <!-- Common JS -->
  <script src="../../new_assets/plugins/common/common.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/jquery.dataTables.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
  <!-- Custom script -->
  <script src="../../new_assets/js/custom.min.js"></script>
  <!-- Custom dashboard script -->
  <script src="../../new_assets/js/dashboard-1.js"></script>
</body>

</html>
