<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FMDA</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/fmdalogo.png">
  <link href="../../new_assets/css/style.css" rel="stylesheet">
  <link href="../../new_assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="../../new_assets/css/mycss.css" rel="stylesheet">
  <script src="../../new_assets/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="v-light vertical-nav fix-header fix-sidebar">
  <div id="preloader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" /></svg>
    </div>
  </div>
  <div id="main-wrapper">
    <!-- header -->
    <%- include('../includes/sub-sections/dashboard-header.ejs')%>
    <!-- #/ header -->

    <!-- sidebar -->
    <%- include('../includes/sub-sections/dashboard-sidebar.ejs', {})%>
    <!-- #/ sidebar -->
    <!-- content body -->
    <div class="content-body">

        <section id="material-datatables">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h4 class="card-title">Membership Request List.(Current onboarding stage)</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body" style="overflow-x: scroll;">

                              <!-- Table Content: Start -->
                              <table class="table table-hover zero-configuration dataTable table-striped white">
                                
                                <!-- Table Head  -->
                                <thead>
                                    <tr>
                                            <th class="d-none">s/n</th>
                                            <th>Full Name</th>
                                            <th>Certification Type</th>
                                            <th>Industry Category</th>
                                            <th>Industry Type</th>
                                            <th>Member Type</th>
                                            <th>Request Date</th>
                                            <th></th>
                                    </tr>
                                </thead>

                                <!-- Table Body  -->
                                <tbody>
                                    <% 
                                        data.forEach((item, i) => { 
                                     %>
                                        <tr>
                                                <td class="d-none" > <%= i %> </td>
                                                <td><%= item.firstName + ' ' + item.lastName %></td>
                                                <td><%= item.certificationType %></td>
                                                <td><%= item.industryCategory %></td>
                                                <td><%= item.industryType %></td>
                                                <td><%= item.memberType %></td>
                                                <td><%= item.membershipRequestDate %></td>

                                                <td> <a href="/admin/individual_member/<%= action %>_membershipRequestPage?id=<%=item.id%>" id='<%= item.id %>' class="btn btn-sm btn-success round create-member"><%= action %> Member</button></td>
                                        </tr>
                                    <% 
                                        }); 
                                    %>
                                </tbody>
                              </table>
                              <!-- Table Content: End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
      
    </div>
    <!-- #/ content body -->
    <!-- footer -->
    <%- include('../includes/sub-sections/dashboard-footer.ejs', {})%>   
    <!-- #/ footer -->
  </div>
  <!-- Common JS -->
  <script src="../../new_assets/plugins/common/common.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/jquery.dataTables.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
  <!-- Custom script -->
  <script src="../../new_assets/js/custom.min.js"></script>
  <!-- Custom dashboard script -->
  <script src="../../new_assets/js/dashboard-1.js"></script>
</body>

</html>
