
<div class="col-md-12" style="margin-top: 30px">
        <p>List of your qualifications</p>            
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>institution name:</th>
                    <th>degree obtained</th>
                    <th>start date</th>
                    <th>end date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
    
                    <% 
    
                        var qualificationsListGotten = qualificationsList;
    
                        for (let index = 0; index < qualificationsListGotten.length; index++) 
                        {
                            const element = qualificationsListGotten[index];
                    %>     
    
                    <tr>
                        <td><%= element.institutionName %></td>
                        <td><%= element.degreeOptained %></td>
                        <td><%= element.from %></td>
                        <td><%= element.to %></td>
                        <td><p class="deleteButton btn btn-default" id="<%= element.institutionName %>"  value="<%= element.institutionName %>">remove</p></td>
                    </tr>
    
                    <% 
                        }
                    %>
     
                </tbody>
            </table>
    
    
            <!-- get the id value of the button clicked -->
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script type="text/javascript">
                
    
                const buttons = document.querySelectorAll('.deleteButton')
                buttons.forEach(item => {
                    item.addEventListener('click', e => {
                        console.log(e.target.id);
    
                        var removeByName = e.target.id;
                        // call "/removeQualification_individual" endpoint to delete
                        $.post("/update_remove_qualification_individual_initiated", {"removeByName" : removeByName}, function(data){
                            // alert(data);
                            $('#savedListOfQualiifications').html(data);
                        });
    
                    });
                });
    
                       
    
    
            </script>
    </div>
    