<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FMDA</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/fmdalogo.png">
  <link href="../../new_assets/css/style.css" rel="stylesheet">
  <link href="../../new_assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="../../new_assets/css/mycss.css" rel="stylesheet">
  <script src="../../new_assets/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="v-light vertical-nav fix-header fix-sidebar">
  <div id="preloader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" /></svg>
    </div>
  </div>
  <div id="main-wrapper">
    <!-- header -->
    <%- include('../includes/sub-sections/dashboard-header.ejs')%>
    <!-- #/ header -->

    <!-- sidebar -->
    <%- include('../includes/sub-sections/dashboard-sidebar.ejs', {})%>
    <!-- #/ sidebar -->
    <!-- content body -->
    <div class="content-body">

        <section id="material-datatables">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h4 class="card-title">Payment History %></h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body" style="overflow-x: scroll;">

                              <!-- Table Content: Start -->
                              <table class="table table-hover zero-configuration dataTable table-striped white">
                                
                                <!-- Table Head  -->
                                <thead>
                                    <tr>
                                        <th class="d-none">s/n</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Email</th>
                                        <th>Purpose</th>                                                                    
                                        <th>Date</th>
                                        <th>Invoice Number</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>

                                <!-- Table Body  -->
                                <tbody>
                                    <% paymentHistory.forEach((item, i) => { %>
                                        <tr>
                                            <td class="d-none" > <%= i %> </td>
                                            <td><%= item.amount %></td>
                                            <td>
                                                <span class="badge badge-<%= item.status === 0 ? 'warning' : item.status === 1 ? 'success' : 'danger' %>">
                                                    <%= item.status === 0 ? 'UnProcessed' : item.status === 1 ? 'approved' : 'declined' %>
                                                </span>
                                            </td>
                                            <td><%= item.userId %></td>
                                            <td><%= item.purpose %></td>
                                            <td><%= item.paymentDate %></td>
                                            <td><%= item.invoiceNumber %></td>
                                            <td> <a href="/admin/payments/details?refNo=<%=item.paymentReferenceNo%>&purpose=<%=item.purpose%>&invoiceNumber=<%= item.invoiceNumber %>" 
                                                class="btn btn-sm btn-success round create-member">View Details</button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                              </table>
                              <!-- Table Content: End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
      
    </div>
    <!-- #/ content body -->
    <!-- footer -->
    <%- include('../includes/sub-sections/dashboard-footer.ejs', {})%>   
    <!-- #/ footer -->
  </div>
  <!-- Common JS -->
  <script src="../../new_assets/plugins/common/common.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/jquery.dataTables.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
  <!-- Custom script -->
  <script src="../../new_assets/js/custom.min.js"></script>
  <!-- Custom dashboard script -->
  <script src="../../new_assets/js/dashboard-1.js"></script>
</body>

</html>
