<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<%- include('ind_includes/head.ejs')%>
    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="v-light vertical-nav fix-header fix-sidebar">

        

            <!-- BEGIN: Content-->
            <div class="app-content content">
                <div class="content-header row">
                </div>
                <div class="content-wrapper">

                    <!-- header -->
                    <%- include('ind_includes/header.ejs')%>
                    <!-- #/ header -->
                    <!-- sidebar -->
                    <%- include('ind_includes/sidebar.ejs')%>
                    <!-- #/ sidebar -->

                        <div class="content-body">

                            <!-- change password-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h2 class="" id="horz-layout-colored-controls">Change Password</h2>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content collpase show">
                                            <div class="card-body">
                                                <div class="card-text">
                                                    <p>Change your personal password </p>
                                                </div>

                                                <!-- Form -->
                                                <form class="form form-horizontal n" action="ind_change_password" method="POST">
                                                    <div class="form-body">
                                                        <h4 class="form-section" align="center"></h4>

                                                        <!-- form row  -->
                                                        <div class="row justify-content-center">

                                                            <!-- old password  -->
                                                            <div class="col-md-6">
                                                                <div class="form-group col-md-9 mx-auto">
                                                                    <label for="newPassword">Old Password</label>
                                                                    <input type="password" id="oldPassword" required class="form-control password border-primary" placeholder="Enter old password" name="oldPassword">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <!-- form row  -->
                                                        <div class="row justify-content-center">

                                                            <!-- new password  -->
                                                            <div class="col-md-6">
                                                                <div class="form-group col-md-9 mx-auto">
                                                                    <label for="newPassword">New Password</label>
                                                                    <input type="password" id="newPassword" required class="form-control password border-primary" placeholder="Enter new password" name="newPassword">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- form row  -->
                                                        <div class="row justify-content-center">

                                                            <!-- confirm password  -->
                                                            <div class="col-md-6">
                                                                <div class="form-group col-md-9 mx-auto">
                                                                    <label for="confirmPassword">Confirm Password</label>
                                                                    <input type="password" id="confirmPassword" required class="form-control password border-primary" onblur="comparePassword()" placeholder="Confirm password">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <!-- form row  -->
                                                        <div class="row justify-content-center">
                                                            <!--   -->
                                                            <div class="col-md-6">
                                                                <div class="form-group col-md-9 mx-auto">
                                                                    <input type="checkbox" onclick="showPassword()"> Show Password
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="form-actions text-center ">
                                                        <button id="submitBtn" type="submit" class="btn btn-primary"> Change password </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- create admin end  -->

                        </div>
                        <!-- END: Main content-->
                </div>
                <!--/ Recent Transactions -->




            </div>
            </div>
            </div>
            <!-- END: Content-->

            <!-- BEGIN: Footer-->
            <%- include('ind_includes/footer.ejs')%>
                <!-- END: Footer-->


                <!-- BEGIN: Scripts -->
                <%- include('ind_includes/scripts.ejs')%>
                    <script>
                        const showPassword = () => {
                            const passwordFields = document.querySelectorAll('.password');
                            passwordFields.forEach(item => {
                                if (item.type === 'password') item.type = 'text'
                                else item.type = 'password';
                            });
                        }

                        const comparePassword = () => {
                            const password = document.querySelector('#newPassword').value;
                            const confirmPassword = document.querySelector('#confirmPassword').value;
                            const submitBtn = document.querySelector('#submitBtn');
                            if (password !== confirmPassword) {
                                alert('password and confirm password do not match');
                                submitBtn.disabled = true;
                            } else submitBtn.disabled = false;
                        }
                    </script>
                    <!-- END: Scripts -->


                    <!-- Common JS -->
                    <script src="new_assets/plugins/common/common.min.js"></script>
                    <!-- Custom script -->
                    <script src="new_assets/js/custom.min.js"></script>
                    <!-- Chartjs chart -->
                    <script src="new_assets/assets/plugins/chartjs/Chart.bundle.js"></script>
                    <!-- Custom dashboard script -->
                    <script src="new_assets/js/dashboard-1.js"></script>

                    
    </body>
    <!-- END: Body-->

</html>