<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Individual Member Registration">
  <meta name="author" content="Softworks">

  <link rel="stylesheet" type="text/css" href="new_assets/scss/register.min.css">
  <link rel="stylesheet" type="text/css" href="new_assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="new_assets/icons/font-awesome/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

  <title>FMDA- Individual Member Registration</title>

</head>

<body>

  

  <div class="col-md-12" style="margin-top: 20px;">

    <section id="number-tabs">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-content collapse show">
                      <div class="card-body">


                          <h2 style="background-color: black; color: white;">Academic Qualifications</h2> 
                          <hr>

                          <a class="btn btn-light" href="/ind_professionalInformation">Previous Page</a>
                          <a style="float: right;" class="btn btn-light" href="/logout">Log Out</a>
  
  
                        
                          <!-- upload cerificate -->
                          <!-- <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
                              <label>Upload Academic Certificate Type</label>
                              <input id="upload-input" type="file" name="upload" onchange="uploadCertificate()">
                              <span id="uploadStatus" style="color: green;"></span>
                          </div> -->
                      
                      
                          <!-- script to upload cerificate -->
                          <!-- <script>
                            function uploadCertificate() {
     
                                // $('#uploadStatus').text("uploading file, processing...");
                                // show that something is loading
                                $('#uploadStatus').html("<b>please wait...<img src='img/preloader.gif' width='30px' /></b>");
  
                                 var data = new FormData();
  
                                 var theFileType;
  
                                 $.each($('#upload-input')[0].files, function(i, file) {
                                     data.append('file-'+i, file);
  
                                     console.log("file type: ", file.type);
  
                                    //  get the file type
                                     theFileType = file.type;
                                 });
  
  
                                //  validate type
                                if (theFileType == "pdf reader" || theFileType == "pdf" || theFileType == "application/pdf") {
                                  
                                    //  console.log("file: ", $("#upload-input").val());
  
                                      // use ".split("\\").pop()" to the fake path attached to it.
                                      var file_name = $("#upload-input").val().split("\\").pop();
                                      console.log("file_name: ", file_name);
  
                                      // save the file name into sessionStorage
                                      sessionStorage.setItem("uploadedFileName", file_name);
                            
                                      $.ajax({
                                          url: '/ind_academic_certificate_upload',
                                          data: data,
                                          cache: false,
                                          contentType: false,
                                          processData: false,
                                          method: 'POST',
                                          type: 'POST', // For jQuery < 1.9
                                          success: function(data){
                                              // alert(data);
                                              console.log(data);
                                              
                                              if (data.status == "successfully uploaded.") {
                                                      $('#uploadStatus').text(data.status);
                                                      $('#addMoreEH').show();
                                              } else {
                                                      $('#uploadStatus').text(data.status);
                                              }
                                              
                                          }
                                      });
                                }
                                else{
                                
                                  console.log("the file type is not supported, pdf only");
                                    $('#uploadStatus').text("the file type is not supported, pdf only");
                                    $('#addMoreEH').hide();
                                    
                                  }
  
  
                            }
                          </script> -->
  
  
                            <!-- Academic Qualifications Details  -->
                            <form action="/ind_qualifications" method="post" class="form-horizontal" enctype="multipart/form-data">
                              <!-- start of third step -->
                            <fieldset id="ourFieldset4">
                                  <div class="row" id="qualification">
  
                                      <div class="col-md-12">
                                        <!-- <div class="form-group">
                                            <label>Certificate :</label>
                                            <input type="file" id="sampleFile" onchange="certUpload()"/>
                                            <p>upload progress here...</p>
                                        </div> -->
                                      </div>
                                      <div class="col-md-12">
                                        <hr>
                                      </div>

                                      <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Upload Academic Certificate</label>
                                            <input id="upload-input" type="file" name="upload" onchange="uploadCertificate()">
                                            <span id="uploadStatus" style="color: green;"></span>
                                        </div>

                                        <!-- script to upload cerificate -->
                                        <script>
                                            function uploadCertificate() {
                    
                                                // $('#uploadStatus').text("uploading file, processing...");
                                                // show that something is loading
                                                $('#uploadStatus').html("<b>please wait...<img src='img/preloader.gif' width='30px' /></b>");
                
                                                var data = new FormData();
                
                                                var theFileType;
                
                                                $.each($('#upload-input')[0].files, function(i, file) {
                                                    data.append('file-'+i, file);
                
                                                    console.log("file type: ", file.type);
                
                                                    //  get the file type
                                                    theFileType = file.type;
                                                });
                
                
                                                //  validate type
                                                if (theFileType == "pdf reader" || theFileType == "pdf" || theFileType == "application/pdf") {
                                                
                                                    //  console.log("file: ", $("#upload-input").val());
                
                                                    // use ".split("\\").pop()" to the fake path attached to it.
                                                    var file_name = $("#upload-input").val().split("\\").pop();
                                                    console.log("file_name: ", file_name);
                
                                                    // save the file name into sessionStorage
                                                    sessionStorage.setItem("uploadedFileName", file_name);
                                            
                                                    $.ajax({
                                                        url: '/ind_academic_certificate_upload',
                                                        data: data,
                                                        cache: false,
                                                        contentType: false,
                                                        processData: false,
                                                        method: 'POST',
                                                        type: 'POST', // For jQuery < 1.9
                                                        success: function(data){
                                                            // alert(data);
                                                            console.log(data);
                                                            
                                                            if (data.status == "successfully uploaded.") {
                                                                    $('#uploadStatus').text(data.status);
                                                                    $('#addMoreEH').show();
                                                            } else {
                                                                    $('#uploadStatus').text(data.status);
                                                            }
                                                            
                                                        }
                                                    });
                                                }
                                                else{
                                                
                                                console.log("the file type is not supported, pdf only");
                                                    $('#uploadStatus').text("the file type is not supported, pdf only");
                                                    $('#addMoreEH').hide();
                                                    
                                                }
                
                
                                            }
                                        </script>
                                      </div>


                                      <div class="col-md-3">
                                          <div class="form-group">
                                              <label for="phoneNumber1"> Institution Name :</label>
                                              <input type="text" class="form-control" id="institutionName" placeholder="Institution Name">
                                          </div>
                                      </div>
  
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <label for="phoneNumber1"> Degree Obtained :</label>
                                              <input type="text" class="form-control" id="degreeOptained" placeholder="Degree">
                                          </div>
                                      </div>
  
                                      <div class="col-md-2">
                                        <div class="form-group">
                                            <label>From :</label>
                                            <input type='date' class="form-control" placeholder="Start Date" id="from" />
                                        </div>
                                      </div>
                                      <div class="col-md-2">
                                        <div class="form-group">
                                            <label>To :</label>
                                            <input type='date' class="form-control" placeholder="Start Date" id="to" />
                                        </div>
                                      </div>
                                  </div>
                                   
  
                                    <div class="col-md-12" style="margin-top: 20px;">
                                          <p id="addMoreEH" class="btn btn-light">add to list</p>
                                    </div>


                                    <!-- if academic qualifications already exist & show this button-->
                                    <% if( memberDetails.lookupMember.member.qualifications.length > 0)
                                    { 
                                        
                                    %> 
                                    <div class="col-md-12">
                                        <a href="/ind_other_proffessional_qualifications" id="click_to_continue_from_where_u_left_off" class="btn btn-primary" style="float: right;">click to continue from where u left off</a>
                                    </div>
                                    <% } %> 
  
  
                                      <!-- where to display the list of qualifications added -->
                                      <div id="savedListOfQualiifications" class="row"></div>


                                      <div class="col-md-12" style="margin-top: 50px;">
                                        <!--<input type="submit" id="submit" class="btn btn-light"/>-->
                                        <p id="submitQualificatn" class="btn btn-primary" onclick="submitQualificatn()">Submit</p>
                                      </div>
                                    
  

                                      <%= //JSON.stringify(memberDetails.lookupMember.member.qualifications.length) %> 

                                    <%= //JSON.stringify(memberDetails.lookupMember.member.qualifications) %> 


                                        <!-- if academic qualificatio already exist -->
                                        <% if( memberDetails.lookupMember.member.qualifications.length > 0)
                                        { 
                                            
                                        %>
                                        <div class="col-md-12" style="margin-top: 30px">
                                        <p>Previously added (Qualifications)</p>            
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>institution name:</th>
                                                    <th>degree obtained</th>
                                                    <th>start date</th>
                                                    <th>end date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                    
                                                    <% 
                                    
                                                        var qualificationsListGotten = memberDetails.lookupMember.member.qualifications;
                                    
                                                        for (let index = 0; index < qualificationsListGotten.length; index++) 
                                                        {
                                                            const element = qualificationsListGotten[index];
                                                    %>     
                                    
                                                    <tr>
                                                        <td><%= element.institutionName %></td>
                                                        <td><%= element.degreeOptained %></td>
                                                        <td><%= element.from %></td>
                                                        <td><%= element.to %></td>
                                                    </tr>
                                    
                                                    <% 
                                                        }
                                                    %>
                                     
                                                </tbody>
                                            </table>
                                            </div>
                                            <% } %>
  
  
                                    <br>
                                    <br>
  
                                    
                                  </div>
                                       
                              </fieldset>
                            <!-- end of third step -->
                            </form>
                            <!-- end of first step 1-->
  
  
                            <!-- jquery & ajax link -->
                       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
  
                       
                       <!-- for the fancy sweet alert box -->
                      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
    
                       <!-- to check if div with id savedListOfQualiifications is empty or not -->
                      <script>
                          $(document).ready(function(){
                            
                              if ($('#savedListOfQualiifications').is(':empty')){
                                      $("#submitQualificatn").hide()
                                  }
                          });
                      </script>
  
  
                      <!-- add to list -->
                      <script>

                            var submitQualificatnList = [];

                            $("#addMoreEH").click(function(){
                              //  alert("add more o");
  
                              // empty the upload
                              $("#upload-input").val("");
                              $('#uploadStatus').text("");
  
                                  var institutionName = $("#institutionName").val();
                                  var degreeOptained = $("#degreeOptained").val();
                                  var from = $("#from").val();
                                  var to = $("#to").val();
  
                                  // add the folder path to uploaded files
                                  var certificateURL = "academic_certificate_upload/" + sessionStorage.getItem("uploadedFileName");
  
                                  if(institutionName == '' || degreeOptained == '' || from == '' || to == ''){
  
                                      // using sweet alert tutorial at https://sweetalert.js.org/
                                      // swal(
                                      //         {
                                      //             title: "info!",
                                      //             text: "kindly fill all fields...",
                                      //             icon: "info",
                                      //         },
                                              
                                      //     );
  
                                      swal("kindly fill all fields!", {
                                              buttons: false,
                                              timer: 2000,  // disappears after 2 seconds
                                          });
  
  
                                    
                                  }
                                  else
                                  {
                                      // convert it to object
                                      var addAsObject = {
                                          institutionName : institutionName,
                                          degreeOptained : degreeOptained,
                                          from : from,
                                          to : to,
                                          certificateURL : certificateURL
                                      }


                                        submitQualificatnList.push(addAsObject);
                                        console.log(submitQualificatnList)

                                        var html = "<table class='table table-striped'>";
                                        for (var i = 0; i < submitQualificatnList.length; i++) {
                                            
                                            html+="<tr>";
                                            html+="<td>"+submitQualificatnList[i].institutionName+"</td>";
                                            html+="<td>"+submitQualificatnList[i].degreeOptained+"</td>";
                                            html+="<td>"+submitQualificatnList[i].from+"</td>";
                                            html+="<td>"+submitQualificatnList[i].to+"</td>"; 
                                            html+="<td class='deleteButton btn btn-default' onClick='deleteFunction("+i+")'><i class='fa fa-trash'></i></td>";
                                            
                                            html+="</tr>";

                                        }
                                        html+="</table>";

                                        // display record
                                        $("#savedListOfQualiifications").html(html);

                                        // clear fields
                                        $("#institutionName").val("");
                                        $("#degreeOptained").val("");
                                        $("#from").val("");
                                        $("#to").val("");
  
                                  }

                                  // show
                                  if(submitQualificatnList.length > 0){
                                        $("#submitQualificatn").show();
                                    };
  
                            });
  

                            // function to delete items
                            function deleteFunction(param){
                                // console.log(param);
                                // console.log(submitQualificatnList);
                                // console.log(submitQualificatnList[0]);

                                // someArray.splice(x, 1);

                                submitQualificatnList.splice(param, 1);
                                console.log(submitQualificatnList);
                                console.log(submitQualificatnList.length);

                                var html = "<table class='table table-striped'>";
                                for (var i = 0; i < submitQualificatnList.length; i++) {
                                    
                                    html+="<tr>";
                                    html+="<td>"+submitQualificatnList[i].institutionName+"</td>";
                                    html+="<td>"+submitQualificatnList[i].degreeOptained+"</td>";
                                    html+="<td>"+submitQualificatnList[i].from+"</td>";
                                    html+="<td>"+submitQualificatnList[i].to+"</td>"; 
                                    html+="<td class='deleteButton btn btn-default' onClick='deleteFunction("+i+")'><i class='fa fa-trash'></i></td>";
                                    
                                    html+="</tr>";

                                }
                                html+="</table>";

                                // display record
                                $("#savedListOfQualiifications").html(html);


                                // show
                                if(submitQualificatnList.length == 0){
                                    $("#submitQualificatn").hide();
                                }
                            }



                            // submitQualificatn
                             // function to submit the List
                            function submitQualificatn(){
                                    console.log("to submit: "+ JSON.stringify(submitQualificatnList));



                                    //  call "/ind_qualifications" endpoint to add emplyoment history
                                    $.post("/ind_qualifications", {"values":JSON.stringify(submitQualificatnList)}, function(data){
                                        
                                        // empty the fields
                                        $("#institutionName").val("");
                                        $("#degreeOptained").val("");
                                        $("#from").val("");
                                        $("#to").val("");

                                        if (data == "Successful !") {
                                            window.location.href='/ind_other_proffessional_qualifications';
                                        } else if(data == "failed, kindly contact the admin") {
                                            alert("try again or contact the admin.")
                                        }

                                    });
                                }



                      </script>
  
  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>



  
  <script src="new_assets/js/register-form.js"></script>


  <!-- BEGIN: Page Vendor JS-->
  <script src="app-assets/vendors/js/ui/jquery.sticky.js"></script>
  <script src="app-assets/vendors/js/extensions/jquery.steps.min.js"></script>
  <script src="app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js"></script>
  <script src="app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
  <script src="app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
  <!-- END: Page Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="app-assets/js/core/app-menu.min.js"></script>
  <script src="app-assets/js/core/app.min.js"></script>
  <script src="app-assets/js/scripts/customizer.min.js"></script>
  <script src="app-assets/js/scripts/footer.min.js"></script>
  <!-- END: Theme JS-->

  <!-- BEGIN: Page JS-->
  <script src="app-assets/js/scripts/pages/material-app.min.js"></script>
  <script src="app-assets/js/scripts/forms/wizard-steps.min.js"></script>
  <!-- END: Page JS-->

</body>

</html>
