<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FMDA</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../img/fmdalogo.png">
  <link href="../../new_assets/css/style.css" rel="stylesheet">
  <link href="../../new_assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="../../new_assets/css/mycss.css" rel="stylesheet">
  <script src="../../new_assets/js/modernizr-3.6.0.min.js"></script>
</head>

<body class="v-light vertical-nav fix-header fix-sidebar">
  <div id="preloader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" /></svg>
    </div>
  </div>
  <div id="main-wrapper">
    <!-- header -->
    <%- include('../includes/sub-sections/dashboard-header.ejs')%>
    <!-- #/ header -->

    <!-- sidebar -->
    <%- include('../includes/sub-sections/dashboard-sidebar.ejs', {})%>
    <!-- #/ sidebar -->
    <!-- content body -->
    <div class="content-body">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="" id="horz-layout-colored-controls"> View Participants In '<%=group.name %>' </h2>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <h4 class="form-section" align="center">  Participants Information </h4>
                            <hr>
                              <!-- Table Content: Start -->
                              <table class="table table-hover zero-configuration dataTable table-striped white">
                                
                                <!-- Table Head  -->
                                <thead>
                                    <tr>
                                            <th class="d-none">s/n</th>
                                            <th>On boarding status</th>
                                            <th>Admin Member</th>
                                            <th>Member ID</th>
                                            <th>Date joined</th>
                                    </tr>
                                </thead>

                                <!-- Table Body  -->
                                <tbody>
                                    <% 
                                        group.participants.forEach((item, i) => { 
                                     %>

                                        <tr>
                                                 <td class="d-none" > </td>
                                                 <% var onboardingStatus = "" %>
                                                 <% if (item.onboardingStatus == 1) { %>
                                                   <% onboardingStatus = "Active" %>
                                                 <% } else { %> 
                                                    onboardingStatus = "Pending"
                                                 <% } %>
                                                 <td><%= onboardingStatus %></td>
                                                 <td><%= item.isAdmin %></td>
                                                 <td><%= item.memberUUID %></td>
                                                 <td><%= item.dateJoined %></td>

                                         <!-- you may  need to come back to this to change the name
                                        
                                        there needs to be a way you should pass the member id into the page so you can create a member request page-->
                                                 </tr>
                                <% 
                                    }); 
                                %>
                                  

                                </tbody>
                              </table>
                              <!-- Table Content: End -->

                        </div>


                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- #/ content body -->
    <!-- footer -->
    <%- include('../includes/sub-sections/dashboard-footer.ejs', {})%>   
    <!-- #/ footer -->
  </div>
  <!-- Common JS -->
  <script src="../../new_assets/plugins/common/common.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/jquery.dataTables.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
  <script src="../../new_assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
  <!-- Custom script -->
  <script src="../../new_assets/js/custom.min.js"></script>
  <!-- Custom dashboard script -->
  <script src="../../new_assets/js/dashboard-1.js"></script>
</body>

</html>
