<!DOCTYPE html>
<html lang="en">

<!-- BEGIN: Head-->
<%- include('corp_includes/head.ejs')%>

<!-- jquery & ajax link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>


<body class="v-light vertical-nav fix-header fix-sidebar">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/></svg>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- header -->
        <div class="header">
            <div class="nav-header">
                <div class="brand-logo"><a href="index.html"><b><img src="new_assets/images/logo.png" alt=""> </b><span class="brand-title"><img src="new_assets/images/logo-text.png" alt=""></span></a>
                </div>
                <div class="nav-control">
                    <div class="hamburger"><span class="line"></span>  <span class="line"></span>  <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="header-content">
                <div class="header-left">
                    <ul>
                        <li class="icons position-relative"><a href="javascript:void(0)"><i class="icon-magnifier f-s-16"></i></a>
                            <div class="drop-down animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <div class="header-search" id="header-search">
                                        <form action="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div class="input-group-append"><span class="input-group-text"><i class="icon-magnifier"></i></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li class="icons"><a href="javascript:void(0)"><i class="mdi mdi-account f-s-20" aria-hidden="true"></i></a>
                            <div class="drop-down dropdown-profile animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-settings"></i> <span>Profile Setting</span></a>
                                        </li>
                                        <li><a href="/logout"><i class="icon-power"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        <!-- #/ header -->

        <!-- sidebar -->
        <% if(PaymentFor == "onboarding payment" || PaymentFor == "first annual payment"){ %> 
            <%- //include('corp_includes/sidebar.ejs')%>
        <% }else{ %> 
        <%- include('corp_includes/sidebar.ejs')%>
        <% } %> 
        <!-- #/ sidebar -->
        <!-- content body -->
        <div class="content-body">
            <div class="container-fluid">

                <!-- start progress bar -->
      <!-- <div id="progressBar1" class="progressBar1">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
        aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width:98%">
          98% Completion 
        </div>
      </div> -->
      <!-- start progress bar -->
      <section id="number-tabs">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">

                            <!-- first step -->
                            <form>
                                <fieldset id="ourFieldset1">


                                    <div class="row">

                                        <!-- payment type to be done -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="date1"> Payment For :</label>
                                                <input name="purpose" type="text" class="form-control dark" id="PaymentFor" value="<%= PaymentFor %>" disabled>
                                            </div>
                                        </div>

                                        <!-- 1. payment purpose  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="date1"> Purpose :</label>
                                                <input name="purpose" type="text" class="form-control dark" id="purpose" value="<%= paymentInfo.description %>" disabled>
                                            </div>
                                        </div>

                                        <!-- 2. amount  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="amount">Amount:</label>
                                                <input name="amount" type="text" class="form-control dark" id="amount" value="<%= paymentInfo.amount %>" disabled>
                                            </div>
                                        </div>

                                        <!-- 3. list of banks  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="date1"> Bank :</label>
                                                <select name="bank" id="bank" class="form-control" required>
                                                    <option value="" disabled selected >Select bank</option>
                                                    <% for(i = 0; i < banks.length; i++) { %>
                                                    <option value="<%= banks[i].bank %>"><%= banks[i].bank %></option>
                                                    <% } %> 
                                                </select>
                                            </div>
                                        </div>

                                        <!-- fetch the list of bank accounts for the selected bank when the dropdown is changed -->
                                        <script>
                                            let accounts;
                                            $("#bank").change(e => {                                                     
                                                // loop through and determine which of the banks was selected in the upper dropdown
                                                let banks = JSON.parse('<%- banksString %>');
                                                banks.forEach(item => {
                                                    if(item.bank === e.target.value) accounts = item.accounts
                                                });
                                                // create option elements containing account details and append them to the accounts dropdown 
                                                accounts.forEach(item => {
                                                    const option = document.createElement("option");
                                                    option.value = item.accountNumber;
                                                    option.textContent = item.accountNumber;
                                                    $("#accountNumber").append(option);
                                                });                                                           

                                            });
                                        </script>

                                        <!-- 4. Account number  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="accountNumber"> Account Number : </label>
                                                <select name="accountNumber" id="accountNumber" class="form-control" required>
                                                    <option value="">Select account number</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- update the account name field based on which account number has been selected -->
                                        <script>
                                            $("#accountNumber").change(e => {
                                                accounts.forEach(item =>{
                                                    if (e.target.value === item.accountNumber ) {
                                                        document.querySelector('#accountName').value = item.accountName;
                                                        document.querySelector('#type').value = item.type;
                                                    }
                                                });                                                            
                                            });
                                        </script>

                                        <!-- 5. Account name for the selected bank  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="accountName"> Account Name : </label>
                                                <input name="accountName" type="text" class="form-control dark" id="accountName" disabled>
                                            </div>
                                        </div>

                                         <!-- _(unassigned). Account type for selected bank  -->
                                         <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="type"> Account Type : </label>
                                                <input name="type" type="text" class="form-control dark" id="type" disabled>
                                            </div>
                                        </div>

                                        <!-- 6. Email address -->
                                        <div class="col-md-4 d-none">
                                            <div class="form-group">
                                                <label for="emailAddress1">Email Address :</label>
                                                <input name="userId" type="email" class="form-control dark" id="userId" placeholder="Email Address" value="<%= userID_email %>" required disabled>
                                            </div>
                                        </div>

                                        <!-- 7. Depositor name  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Address1"> Depositor Name :</label>
                                                <input name="depositorName" type="text" class="form-control" id="depositorName" required="required">
                                            </div>
                                        </div>

                                        <!-- 8. payment reference no  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="emailAddress1"> Payment Reference No :</label>
                                                <input name="paymentReferenceNo" type="text" class="form-control" id="paymentReferenceNo" required>
                                            </div>
                                        </div>

                                        <!-- 9. payment date  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="phoneNumber1"> Payment Date :</label>
                                                <input name="paymentDate" type="date" class="form-control" id="paymentDate" required>
                                            </div>
                                        </div>

                                        <!-- invoiceNumber  -->
                                        <div class="col-md-4">
                                            <% if (paymentInfo.invoiceNumber) 
                                                {
                                            %>
                                            <div class="form-group">
                                                <label for="emailAddress1"> Invoice Number (check your mail) :</label>
                                                <input name="invoiceNumber" type="text" class="form-control" id="invoiceNumber" value="<%=paymentInfo.invoiceNumber%>" readonly>
                                            </div>
                                            <%
                                                }
                                                else if(paymentInfo.invoiceNumber == undefined)
                                                {
                                            %>
                                                <div class="form-group">
                                                    <label for="emailAddress1"> Invoice Number (check your mail) :</label>
                                                    <input name="invoiceNumber" type="text" class="form-control" id="invoiceNumber" required>
                                                </div>

                                                <!-- generate invoice number -->
                                                <!--<button id="generateInvoiceNumber">Don't have an invoice number? Click to generate</button>-->


                                            <%
                                                } 
                                            %>

                                            
                                        </div>


                                    </div>

                                    <!-- submit button  -->
                                    <button style="margin-top: 50px;" id="paymentDetails" type="button" class="btn btn-primary">
                                        <%= action === 'update' ? 'Make Payment': 'Make Payment' ; %>
                                    </button>

                                </fieldset>
                            </form>
                            <!-- end of first step 1-->


                            <!-- function to generate invoice number -->
                            <script>
                                $("#generateInvoiceNumber").click(function() {
                                    // alert("lets generate invoice number");

                                    // display upon processing
                                    $("#generateInvoiceNumber").text("processing, please wait...");

                                    // ajax call
                                    $.post("/corp_generate_invoice_number", {"action" : "generate invoice number"}, function(data) {
                                        // alert(data);

                                        // display message after processing
                                        $("#generateInvoiceNumber").text(data);
                                    });

                                });
                            </script>

                           
                            <!-- for the fancy sweet alert box -->
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


                            <script>
                                $("#paymentDetails").click(function() {
                                    //  alert("add more o");

                                    var userId = $("#userId").val();
                                    var depositorName = $("#depositorName").val();
                                    var paymentReferenceNo = $("#paymentReferenceNo").val();
                                    var invoiceNumber = $("#invoiceNumber").val();
                                    var amount = $("#amount").val();
                                    var paymentDate = $("#paymentDate").val();
                                    var bank = $("#bank").val();
                                    var purpose = $("#purpose").val();
                                    var accountNumber = $("#accountNumber").val();
                                    var accountName = $("#accountName").val();


                                    if (depositorName == '' || paymentReferenceNo == '' || invoiceNumber == '' || amount == '' || paymentDate == '' || bank == '' || purpose == '') {

                                        // using sweet alert tutorial at https://sweetalert.js.org/
                                        // swal(
                                        //         {
                                        //             title: "info!",
                                        //             text: "kindly fill all fields...",
                                        //             icon: "info",
                                        //         },

                                        //     );

                                        swal("kindly fill all fields!", {
                                            buttons: false,
                                            timer: 2000, // disappears after 2 seconds
                                        });



                                    } else {

                                        // convert it to object
                                        var addAsObject = {
                                            userId,
                                            depositorName,
                                            paymentReferenceNo,
                                            invoiceNumber,
                                            amount,
                                            paymentDate,
                                            bank,
                                            accountNumber,
                                            accountName,
                                            purpose,
                                        }

                                        console.log('b', addAsObject);
                                        $.post("/corp_payment", addAsObject, function(data) {
                                            alert(data);

                                            var PaymentFor = $("#PaymentFor").val();
                                            if (PaymentFor == "onboarding payment") {
                                                window.location.href = '/logout';
                                            } else if(PaymentFor == "pending invoices") {
                                                window.location.href = '/corp_pending_payment';
                                            };
                                            
                                        });
                                    }





                                });
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                
            </div>
            <!-- #/ container -->
        </div>
        <!-- #/ content body -->

        <!-- footer -->
        <!-- BEGIN: Footer-->
        <%- include('corp_includes/footer.ejs')%>
    </div>

    <!-- Common JS -->
    <script src="new_assets/plugins/common/common.min.js"></script>
    <!-- Custom script -->
    <script src="new_assets/js/custom.min.js"></script>
    <!-- Chartjs chart -->
    <script src="new_assets/assets/plugins/chartjs/Chart.bundle.js"></script>
    <!-- Custom dashboard script -->
    <script src="new_assets/js/dashboard-1.js"></script>

    <!-- BEGIN: Page Vendor JS-->
    <script src="app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="app-assets/vendors/js/extensions/jquery.steps.min.js"></script>
    <script src="app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js"></script>
    <script src="app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
    <script src="app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.min.js"></script>
    <script src="app-assets/js/core/app.min.js"></script>
    <script src="app-assets/js/scripts/customizer.min.js"></script>
    <script src="app-assets/js/scripts/footer.min.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="app-assets/js/scripts/pages/material-app.min.js"></script>
    <script src="app-assets/js/scripts/forms/wizard-steps.min.js"></script>
    <!-- END: Page JS-->

    
</body>

</html>
